.blind{
    position: absolute;
    width: 1px; height: 1px;
    margin: -1px;
    overflow: hidden;
    clip:rect(0 0 0 0);
}
.page-load{
    // display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #f9f9f9;
    z-index: 1000;
    .content-wrap{
        position: absolute;
        display: flex;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }
    .logo{
        width: 150px; height: 50px;
        opacity: 0;
        path{fill:#000}
    }
}

.cursor{
    width: 20px;
    height: 20px;
    background: rgba(43, 44, 83, 0.64);
    border-radius: 50%;
    mix-blend-mode: difference;
    position: fixed;
    top: 0; left: 0;
    transform: translate(-50%, -50%);
    z-index: 9999;
    pointer-events: none;
    transition: width .2s, height .2s;
    &.hover{
        width: 60px; height: 60px;
    }
}
a{cursor: none;}
body{
    font-family: 'Nekst', 'KIA';
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    background: #000;
    overflow-x: hidden;
    cursor: none;

    &.hidden{
        overflow: hidden;
        &::-webkit-scrollbar-button{
            width: 0;
            height: 0;
        }
        &::-webkit-scrollbar-track{
            background: transparent;
            opacity: 0;
        }
        &::-webkit-scrollbar-thumb{
            border-radius: 0px;
            background: transparent;
            opacity: 0;
        }
        &::-webkit-scrollbar{
            width: 0px;
            opacity: 0;
        }
    }
::-webkit-scrollbar-button{
            width: 0;
            height: 0;
        }
        ::-webkit-scrollbar-track{
            background: transparent;
            opacity: 0;
        }
        ::-webkit-scrollbar-thumb{
            border-radius: 0px;
            background: transparent;
            opacity: 0;
        }
        ::-webkit-scrollbar{
            width: 0px;
            opacity: 0;
        }
}
body::-webkit-scrollbar{width: 5px;}
body::-webkit-scrollbar-track{background: transparent;}
body::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: hsla(0,0%,100%,.7);
}
::selection{
    background: #181818;
    color: #fff;
}