.blind{
    position: absolute;
    width: 1px; height: 1px;
    margin: -1px;
    overflow: hidden;
    clip:rect(0 0 0 0);
}
.page-load{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #f9f9f9;
    z-index: 1000;
    .content-wrap{
        position: absolute;
        display: flex;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }
    .logo{
        width: 150px; height: 50px;
        opacity: 0;
        path{fill:#000}
    }
}

.cursor{
    @include tablet{display: none;}
    @include mobile{display: none;}
    position: fixed;
    font-size: 0;
    top: 0; left: 0;
    z-index: 9999;
    pointer-events: none;
    mix-blend-mode: difference;
    .pointer{
        @include tablet{display: none;}
        @include mobile{display: none;}
        position: absolute;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        transition: width .2s, height .2s;
        background: rgba(255, 255, 255, .8);
        width: 20px; height: 20px;
        border: none;
    }
    &.hover{
        .pointer{
            width: 60px;
            height: 60px;
        }
    }
}
a{
    @include tablet{cursor: pointer;}
    @include mobile{cursor: pointer;}
    cursor: none;
}
body{
    font-family: 'Nekst', 'KIA';
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    background: #000;
    overflow-x: hidden;
    cursor: none;
    @include tablet{cursor: default;}
    @include mobile{cursor: default;}
    &.hidden{
        overflow: hidden;
        &::-webkit-scrollbar-button{
            width: 0;
            height: 0;
        }
        &::-webkit-scrollbar-track{
            background: transparent;
            opacity: 0;
        }
        &::-webkit-scrollbar-thumb{
            border-radius: 0px;
            background: transparent;
            opacity: 0;
        }
        &::-webkit-scrollbar{
            width: 0px;
            opacity: 0;
        }
    }
::-webkit-scrollbar-button{
            width: 0;
            height: 0;
        }
        ::-webkit-scrollbar-track{
            background: transparent;
            opacity: 0;
        }
        ::-webkit-scrollbar-thumb{
            border-radius: 0px;
            background: transparent;
            opacity: 0;
        }
        ::-webkit-scrollbar{
            width: 0px;
            opacity: 0;
        }
}
body::-webkit-scrollbar{width: 5px;}
body::-webkit-scrollbar-track{background: transparent;}
body::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: hsla(0,0%,100%,.7);
}
::selection{
    background: #181818;
    color: #fff;
}